<div class="container" data-aos="fade-down">
	<div class="row" id="about-box">
		<div class="column">
				I am an Assistant Professor in Design at the faculty of Industrial Design Engineering, TU Delft (NL), and member of the multi-faculty research initiative on Meaningful Human Control over Intelligent Autonomous Systems <a href="https://www.tudelft.nl/aitech/">AiTech</a>. My current research, at the intersection of design, ethics, AI and robotics, is focused on understanding and designing responsible human-technology
relations. I hold a PhD in "Production, Managment and Design" from Politecnico di Torino (IT, 2018). Prior to this position, postdoctoral researcher at AiTech (NL, 2019-2021), research fellow at AMS institute (NL, 2018-2019) and visiting research fellow at X-Studio, Academy of Art and Design, Tsinghua University (CN, 2016-2017).
				</strong>
 				An updated list of my publications can be found <a href="https://www.researchgate.net/profile/Maria_Lupetti">Here</a>
		<br><br> Here is a selection of my recent works...
		</div>
	</div>
</div>
