<div class="container" data-aos="fade-down">
	<div class="row" id="about-box">
		<div class="column">
				I am a designer and Posdoctoral researcher at the Connected Everyday Lab, TU Delft, Netherland. I'm working on the Things as Citizens project,
				focused on the investigation of near future scenarios of coexistence between people and autonomous things in smart cities.
				I did a PhD in Design for Service Robotics and my doctoral research focused on <strong>human-robot playful interactions.</strong>
 				An updated list of my publications can be found on <a href="https://www.researchgate.net/profile/Maria_Lupetti">ResearchGate</a>
		<br><br> Here is a selection of my recent work...
		</div>
	</div>
</div>
