<div class="container fullHeight" data-aos="fade" id="about">
	<div class="row vCentered" id="about-box">
		<div class="column">
			image: url(/img/profile pic.jpg)
			
 				
		</div>
		<div class="column">
			<p class="big">
				I am an Assistant Professor at the Faculty of Industrial Design Engineering, TU Delft.
			</p>
			<p>
				Prior to this position, I was:

→ postdoctoral researcher at TU Delft + AiTech
→ postdoctoral researcher at TU Delft + AMS
→ visiting researcher at Tsinghua University
→ PhD student at Politecnico di Torino
			</p>

		</div>
	</div>
</div>
