<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" data-aos="fade-down">
    <div class="container">
			<div class="row">
				<div class="column">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}#page-top">
              <div class="title">
                {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
              </div>
            </a>
		  	</div>
        <div class="column">
          <ul class="menu">
            <li>
              ciao
            </li>
            <li>
              ciao
            </li>
            <li>
              ciao
            </li>
          </ul>
        </div>
			</div>
      <div class=" row">
        <div class=" column separator">
        </div>
      </div>
    </div>
</nav>
