<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" data-aos="fade-down">
    <div class="container">
			<div class="row">

				<div class="column">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}#page-top">
              <div class="title">
                {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
              </div>
              <div class="subtitle">
                {{ with .Site.Params.navigation.subtitle }}{{ . }}{{ end }}
              </div>
            </a>
            <!-- <div class="about">
              <h1>+</h1>
            </div> -->
			</div>
			</div>
    </div>
</nav>
